/************************************
* Authors : Farid Wazdi
* Email   : faridwazdi02@gmail.com
* Google MWS - 2018
************************************/

html, body, #map {
    font-size: 16px ;
    font-family: 'Lato', sans-serif;
    color: #777;
    height: 100%;
    width: 100%;
    margin: 0px;
}

a {
    color: #777;
}

a:hover {
    color: white;
}

.app-menu {
    color: #58a0c0;
    background: #2f2f2f;
    grid-column:1/-1;
}


.app {
    grid-column: 1/-1;
    grid-row: 1/2;
    margin: 0;
}

.app .title{
    color: #58a0c0;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    display: block;
}

.nav {
    margin-top: .8rem;
    grid-column: 1/2;
    grid-row: 1/2;
}
.nav a{
    color: #58a0c0;
    font-size: 2.4rem;
}


.calc {
    grid-column:1/-1;
    width: 300px; 
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.calc input {
    width: calc(90% - 6px);
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: large;
    border-radius: 1rem;
    border: 2px solid transparent;
    padding: .5rem 1rem;
    color: #58a0c0;
}

.calc input:focus {
    outline: none;
}


ul.switch {
    margin: 0;
    padding: 0;
}

ul.switch li.switch-item {
    width: 23%;
    list-style-type: none;
    display: inline-block;
}

ul.switch li.switch-item.active button{
    outline: none;
    background-color: #518fad;
    border-color: #518fad;
    color: white;
}

.calc button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: large;
    border-radius: 1rem;
    padding: .5rem 1rem;
    border: 2px solid transparent;
    background-color: white;
    color: #58a0c0;
}

.calc button:focus {
    outline: none;
    color: white;
    background-color: #518fad;
    border-color: #518fad;
}

.calc .operator {
    /*width: calc((100% / 4) - .25rem );*/
    display: inline-block;
}

.calc-container {
    color: white;
    max-width: 334px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.calc-container .calc-layout {
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10% 90%;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: grid;  
    width: 100%;
    max-width: 900px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 16% 27% 27% 27% 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: .4rem;
}

.box-sm {
    padding: 1rem ;
}

.box-lg {
    padding: 1.5rem ;
}

.menu {
    color: white;
    background: #2f2f2f;
    grid-column:1/-1;
}

.sidebar {
    text-align: center;
    color: white;
    background: #2f2f2f;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 85% 15%;
}
.sidebar .avatar{
    width: 70%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.sidebar .avatar .image{
    width: calc(100% - 12px);
    height:auto;
    border-radius: 80%;
    border: 6px solid #58a0c0;
}

.sidebar .slink{
    margin-top: 1rem;
    border-radius: .6rem;
}
.sidebar .slink a{
    font-size: 1.2rem;
    color: #58a0c0;
}

.sidebar .slink a:hover{
    color: white;
}

.konten {
    background: #58a0c0;
    /*background: red;*/
    grid-column: 3/5;
    display: grid;
    grid-template-columns: 85% 15%;
}

.konten .title {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.konten .title:hover {
    text-decoration: underline;
}

.konten .sub {
    font-size: .8rem;
    color: #555;
    margin: 0;
    padding: 0;
}

.konten .icon{
    text-align: right;
}

.footer {
    font-size: small;
    color: white;
    background: #2f2f2f;
    padding: 1rem ;
    grid-column: 1/5;
    text-align: center;
}

.icon {
    color: #555;
    font-size: 2rem !important;
}

.konten:nth-last-child {
    border-bottom: red; 
}
.konten {
    border-bottom: 1px solid #555; 
}

@media screen and (max-width: 524px) {

.container{
    grid-template-rows: unset;
    width: 100%;
    height: 100%;
}

.menu {
    text-align: center;
}

.sidebar, .konten, .footer {
    grid-column-start: 1;
    grid-column-end: 5;
}

}

@media screen and (min-width: 525px) and (max-width: 899px)  {

.konten {
    grid-column: 3/5;
}

.sidebar {
    grid-column: 1/3;
}

}