/************************************
* Authors : Farid Wazdi
* Email   : faridwazdi02@gmail.com
* Google MWS - 2018
************************************/

html, body, #map {
    font-size: 16px ;
    font-family: 'Lato',sans-serif;
    color: #58a0c0;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#mapid {
    width: 100%;
	height: 100%;
}

a {
    color: #777;
    text-decoration: none;
}

a:hover {
    color: white;
}

body {
	padding: 0;
	margin: 0;
}

.container {
	display: grid;
	height: 100%;
	max-width: 820px;
    background-color: #2f2f2f;
	grid-template-columns: repeat(8,1fr);
	grid-template-rows: 10% 70% 20%;
	margin-left: auto;
	margin-right: auto;
}
.menu {
	padding: 0 1rem 1rem;
    grid-column-start: 1;
    grid-column-end: 9;
    display: flex ;
    justify-content: space-between;
}
.box {
	padding: 1.5em 1em ;
}
.peta {
	grid-column: 1/-1;
}
.gambar {
	grid-column: 1/4;
}
.review {
	background: #58a0c0;
	grid-column: 4/9;
}

.place-image{
	width: 100% ;
	height:100%;
}
